<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Timeline of our progress during the game development</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/brainstorm.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2021</h4>
                                    <h4 class="subheading">Brainstorming</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our team had a meeting to discuss what should our game be with game mechanics that should be implemented.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/blank.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>TBD</h4>
                                    <h4 class="subheading">Game Development Process</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Prototype of the game and what have been implemented.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/blank.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>TBD</h4>
                                    <h4 class="subheading">Prototype</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Description of the game process so far and what has been done.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/blank.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>TBD</h4>
                                    <h4 class="subheading">Final Game</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Description of the final game and all the new features it has.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>